* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 20px !important;
}

.dark {
  background-color: #001529 !important;
  color: #fff !important;
}

.light {
  background-color: #fff;
  color: #222;
}

.btn-dark {
  color: #fff !important;
  background: transparent;
}
